<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricas<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  </div>
  <div id="time-container">
    <!-- 時間を表示するための要素 -->
    <span id="current-time"></span>
  </div>
  <img id="icon" src='/images/web/rog.png'> 
  <div id="master">
    <div id="gallery">
      <div class="main">
      </div>
      <select id="thumbSelect">
        <option value="0">流水マップ</option>
        <option value="1">ベクトル2</option>
        <option value="2">ベクトル3</option>
        <option value="3">ベクトル4</option>
        <option value="4">ベクトル5</option>
        <option value="5">ベクトル6</option>
      </select>
    </div>
    <div id="gallery2">
      <div class="sub">
      </div>
      <select id="sidebybSelect">
        <option value="0">定点カメラ1</option>
        <option value="1">定点カメラ2</option>
        <option value="2">定点カメラ3</option>
        <option value="3">定点カメラ4</option>
        <option value="4">定点カメラ5</option>
        <option value="5">定点カメラ6</option>
      </select>
    </div>
  </div>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
